header {
  color: #fff;
  background: #242424;
  padding: 1px;
  text-align: center;
  font-family: 'Megrim', cursive;
  text-transform: uppercase;
}

.col-cont {
  background: #242424;
  width: 100%;
}

header a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.container-fluid {
  margin-top: 0.2em;
}

.col-container {
  text-align: center;
}

.col-container-item {
  font-family: 'Aleo', serif;
}

.col-container-text {
  transform: rotateZ(0deg);
  transform: scale(1.1);
  margin: 0 4em;
  transition:.2s all; 
}

.col-container:hover .col-container-item{
  filter:blur(1.3px);
  opacity:.5;
  transform: scale(.98);
}

.col-container:hover .col-container-item:hover{
  transform:scale(1.5);
  filter:blur(0px);
  opacity:1;
}



/* Animación */
.f {
  position: fixed;
  top: 5px;
  right: 10px;
  font-family: 'Arial';
  font-size: 0.8em;
  color: #f0544f;
}
.f a {
  color: #000;
}

.Project2 {
  position: relative;
  top: 6%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.imgMasked2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  height: 62px;
  -webkit-clip-path: circle(20px at center);
          clip-path: circle(20px at center);
  transition: 0.5s;
  pointer-events: none;
}




