header {
  color: #fff;
  background: #242424;
  padding: 1px;
  text-align: center;
  font-family: 'Megrim', cursive;
  text-transform: uppercase;
  margin-top: 0;
}

.col-cont {
  background: #242424;
  width: 100%;
}

header a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.col-container {
  text-align: center;
}

.col-container-item {
  font-family: 'Aleo', serif;
}

.col-container-text {
  transform: rotateZ(0deg);
  transform: scale(1.1);
  margin: 0 4em;
  transition:.2s all; 
  color: #fff
}

.col-container:hover .col-container-item{
  filter:blur(1.3px);
  opacity:.5;
  transform: scale(.98);
}

.col-container:hover .col-container-item:hover{
  transform:scale(1.5);
  filter:blur(0px);
  opacity:1;
}