.aws-btn {
  margin: 2px;
}

.cont-text {
  height: 100%;
  color: wheat;
  padding: 2em;
}

/* .border-center {
  border-right: 1px solid #444;
} */

.skill {
  color: wheat;
  padding: 2em;
}

p {
  font-family: 'Aleo', serif;
}
